
#clients-review-section{
padding-bottom: 80px;
padding-top: 80px;
background: #F3F3F3;
z-index: 111;
    }
    #clients-review-container{

    }
    #clients-review-inner-container{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
    }
 #clients-review-heading-container h2{
text-align: center;
font-size: 21px;
    }
    #clients-review-desc-container h2{
        font-weight: 700;
text-align: center;
font-size: 45px;
    }
    #clients-review-desc-container h2 span{
        font-weight: 700;
text-align: center;
color: rgb(81, 81, 255);
    }
    #clients-review-desc-container p{
text-align: center;
font-size: 16px;
    }

    #clients-review-card-section{
    /* padding-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    }
#clients-review-section #review-cards-container {
overflow-x: auto;
overflow-y: hidden;
display: flex;
width: 100%;
    user-select: none;
    --gap:0px;
    gap: var(--gap);
  max-width: 1420px;
  position: relative;

}
 #clients-review-section .review-card{
    transition: .2s;
background: white;
        border-radius: 10px;
        /* height: 300px; */
        width: 400px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 10px 30px;
position: relative;
/* height: 100%; */
justify-content: space-between;

    }
       #clients-review-section .review-card:hover  {
scale: 1.1;
        box-shadow: 0 0 19px rgba(0, 0, 0, 0.196);

    }
 #clients-review-section .review-card .label img{
position: absolute;
right: 0;
top: 0;
width: 80px;
height: 80px;
object-fit: cover;
object-position: center;
scale: 1.4;
opacity: .8;
    }

 #clients-review-section .review-card  .user-details{
display: flex;
flex-direction: column;
align-items: start;
margin-bottom: 10px;
width: 100%;
    }

     #clients-review-section .review-card  .user-details span{
width: 0%;
height: 2px;
background: rgb(0, 21, 255);
transition: .4s;
    }
     #clients-review-section .review-card:hover  .user-details  span{
width: 100%;

    }
 #clients-review-section .review-card  .user-details img{
height: 70px;
width: 70px;
object-fit: cover;
object-position: top;
border-radius: 50%;
border: 2px solid blue;
margin-bottom: 10px;
    }
 #clients-review-section .review-card  .user-details h3{
font-size: 24px;
font-weight: 700;
color: rgb(38, 38, 38);
    }

 #clients-review-section .review-card  .user-review p{
font-size: 18px;
font-weight: 500;
color: rgb(84, 84, 84);
/* text-align: justify; */
    }



    #clients-review-section .review-cards-inner-container{
    display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);

  scroll-snap-align: center;

  overflow-x: scroll;

  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  padding: 40px 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
transition: .4s;
}
/* @keyframes top-adventures-scroll {
 
to {
        transform: translateX(-100%);
    }
} */
#clients-review-section #cards-container:hover .review-cards-inner-container{
    animation-play-state:paused;
}
     

     
        /* Webkit Browsers */
        #cards-container::-webkit-scrollbar {
          display: none;
        }


#clients-review-section .review-card-container {
display: flex;
align-items: center;
  scroll-snap-align: center;
  /* height: 500px; */
  background: transparent;
  justify-content: center;
  cursor: pointer;
  border: none;
}
#clients-review-section .review-card-container > div{
  transition: .4s ease;
  overflow: hidden;
  /* width: 400px; */
  /* height: 100%; */
  position: relative;
  border-radius: 30px;
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4); */
  
}

/* #clients-review-section .review-card-container > div:hover  {
  scale: .95;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  
} */
#clients-review-section .review-card-container:hover  .trip-duration-label{
opacity: 1;
scale: 1;

}
#clients-review-section .trip-duration-label{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
     border-radius: 30px;
scale: 0.2;
    background-color: white;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.313);
    transition: .6s ease;
    
}
#clients-review-section .trip-duration-label:hover h4{

  transform: translate(0px, 0px);
    background-color: #0024d7;
    color: rgb(255, 255, 255);


    
}
#clients-review-section .trip-duration-label h4{
  transition: .4s;

    padding: 9px 18px;
    margin: 0;
    background-color: #3154ff;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    
    font-size: 23px;
    transform: translate(-4px, -3px);
}
#clients-review-section .image {
height: 65%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

#clients-review-section .text {
  background-image: linear-gradient(0deg , #3f5efb, #fc466b);
  border-radius: 30px;
  position: absolute;
  top: 55%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -9deg);
}

#clients-review-section.second .text {
  background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
}

#clients-review-section .logo {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 30%;
  left: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

#clients-review-section.logo img {
  height: 100%;
}

#clients-review-section .main-text {
  position: absolute;
  color: #fff;
  font-weight: 900;
  left: 150px;
  bottom: 26%;
}
#clients-review-section .main-text h3{
font-size: 20px;
}

#clients-review-section .card-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  bottom: 10%;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  text-decoration: none;
  animation: button-anim 3s ease 0s infinite normal forwards;
  transition: .4s ease-in-out;
}

@keyframes button-anim {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

#clients-review-section .card-btn:hover{
    animation-play-state:paused;

      background: #ffffff44;
    backdrop-filter: blur(12px);
  border: 1px solid #000000;

}
#clients-review-section .card-btn:hover span{
 text-decoration: underline;
 color: black;
}

#clients-review-section .card-btn span {
 transition: .3s;

  color: #fff;
text-decoration: none;

}

#clients-review-section .price-desc {
  position: absolute;
  color: #ffffff;
  left: 50px;
  bottom: 10%;
  font-weight: 800;
}
#clients-review-section .price-desc p{
 
  font-weight: 800;
}
#clients-review-section .price-desc p span svg{
height: 20px;
    margin-left: 1px;
    fill: white;
}

#clients-review-section.btn i:before {
  width: 14px;
  height: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}

#cards-container i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
#cards-container i:active{
  transform: translateY(-50%) scale(0.85);
}
#cards-container i:first-child{
  left: -22px;
  z-index: 1;
}
#cards-container i:last-child{
  right: -22px;
}

.wrapper .carouselm{

}
.carouselm::-webkit-scrollbar {
  display: none;
}
#clients-review-section .review-cards-inner-container.no-transition {
  scroll-behavior: auto;

}
#clients-review-section .review-cards-inner-container.dragging {
  /* scroll-snap-type: none; */
  scroll-behavior: smooth;
}
/* .carouselm.dragging .review-card-container {
  cursor: grab;
  user-select: none;
} */



@media screen and (max-width: 1420px) {
#clients-review-section #review-cards-container {
    max-width: 1250px;
}

}
@media screen and (max-width: 1250px) {
#clients-review-section #review-cards-container {
    max-width: 900px;
}
#clients-review-section .review-cards-inner-container {

    grid-auto-columns: calc((100% / 2) - 12px);

}
#clients-review-section .review-card-container {
    scroll-snap-align: start;
 
}
}
@media screen and (max-width: 900px) {
#clients-review-section #review-cards-container {
    max-width: 420px;
}
#clients-review-section .review-cards-inner-container {

    grid-auto-columns: calc((100%) - 12px);

}
#clients-review-section .review-card-container {
    scroll-snap-align: center;
 
}
}

@media screen and (max-width: 420px) {
#clients-review-section #review-cards-container {
    max-width: 320px;
}
#clients-review-section .review-card .user-details h3 {
    font-size: 20px;

}
#clients-review-section .review-card .user-review p {
    font-size: 14px;

}

}
@media screen and (max-width: 320px) {
#clients-review-section #review-cards-container {
    max-width: 280px;
}
#clients-review-section .review-card .user-details h3 {
    font-size: 18px;

}
#clients-review-section .review-card .user-review p {
    font-size: 13px;

}
#clients-review-section .review-card .label img {
    right: 6px;
    top: 6px;
    width: 60px;
    height: 60px;

}
}
